/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #282c34;
    color: white;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    position: relative; /* Добавлено для абсолютного позиционирования бургер-меню */
}

.header.scrolled {
    background-color: rgba(40, 44, 52, 0.9);
}

.logo img {
    height: 50px;
    animation: logoFadeIn 1s ease-out;
}

@keyframes logoFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стили для навигации */
.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-left: 20px;
    position: relative;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navigation a:hover {
    color: #61dafb;
    transform: translateY(-5px);
}

.navigation a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #61dafb;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navigation a:hover::after {
    width: 100%;
}

/* Стили для бургер-меню */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2000;
}

.burger-menu div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}

/* Стили для навигационного меню в режиме бургер-меню */
.navigation ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #282c34;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.navigation ul.show {
    transform: translateX(0);
}

/* Медиа-запросы */
@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    
    .burger-menu {
        display: flex;
    }
}
