@font-face {
    font-family: 'Zekton';
    src: url('./fonts/ofont.ru_Zekton.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Zekton', sans-serif;
    background: url('./carbon-fibre.png');
  }
  .light-blue{
    color: #00fff7;
  }