* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Это помогает избежать проблем с масштабированием, так как учитывает padding и border в ширине и высоте элемента */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../public/dotally.png') ;
    margin: 0;
}

.container {
    padding: 0 10vw; 
    max-width: 1200px; 
    margin: 0 auto;
}
